.body_inicial{
    background-image: url('../img/bg_jp.jpg');
    background-position: center;
    background-size:cover;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.body_paginas{
    background-position: center;
    background-size:cover;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.btn-secondary{
    color: #333;
    background-color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.btn-secondary:focus,
.btn-secondary:hover{
    color: #333;
    background-color: #ccc;
}

.cover-container {
    max-width: 80%;
}

.cover-container header h3{
    text-shadow: 2px 2px 3px black;
}

#home{
    text-shadow: 2px 2px 3px black;
}

